* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #160925;
    color: #ffffff;
}

.header {
    text-align: center;
    margin-top: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.projects {
    margin: 20px 0;
    width: 80%;
    max-width: 800px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.project-card {
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 3px solid #b552ce;
    border-radius: 8px;
}

.project-card img {
    width: 600px;
    height: auto;
    border-radius: 8px;
    margin-right: 15px;
}

.project-info h4 {
    margin-bottom: 5px;
}

.project-info button {
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.footer {
    margin-top: 20px;
    text-align: center;
}

.social-links img {
    width: 30px;
    margin: 0 5px;
    cursor: pointer;
}
